@using VRWeb.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
}
<div class="login">
    <h2 class="text-center">@ViewBag.Title</h2>
    <div class="row">
        <div class="col-md-12">
            <section id="loginForm">
                @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    <h4 class="text-center"> Use a local account to log in </h4>
                    <hr style="width:80vw; margin: 20px auto;" />
                    @Html.ValidationSummary(true, "", new { @class = "text-danger text-center" })

                    <div class="form-group text-center ">
                        @Html.LabelFor(m => m.Email, new { @class = "col-md-12 control-label b" })
                        <div class="text-center" style="margin-left: 33%;">
                            <div class="mob">
                                @Html.TextBoxFor(m => m.Email, new { @class = "form-control text-center col-md-6" })
                            </div>
                            <div class="col-md-6">
                                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger font-weight-bold col-md-4" })
                            </div>
                        </div>
                    </div>
                    <div class="form-group text-center">
                        @Html.LabelFor(m => m.Password, new { @class = "col-md-12 control-label b" })
                        <div class="text-center" style="margin-left: 33%;">
                            <div class="mob">
                                @Html.PasswordFor(m => m.Password, new { @class = "form-control text-center col-md-6" })
                            </div>
                            <div class="col-md-6">
                                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger font-weight-bold" })
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-12">
                            <div class="checkbox text-center">
                                @Html.CheckBoxFor(m => m.RememberMe)
                                @Html.LabelFor(m => m.RememberMe, new { @class = "b" })
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12 text-center">
                            <input type="submit" value="Log in" class="btn btn-primary" />
                        </div>
                    </div>
                    <div class="register">
                        <p class="text-center">
                            @Html.ActionLink("Register as a new user", "Register")
                        </p>
                    </div>
                    <div class="forgot">
                        <p class="text-center fpa">
                            @Html.ActionLink("Forgot your password?", "ForgotPassword")
                        </p>
                    </div>
                }
            </section>
        </div>
    </div>


    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
</div>